@import 'true';

@import '../src/index';

@include describe('Fraction-names [function]') {
  @include it('Converts 1/12 into its fraction names') {
    $test: fraction-names(1, 12);
    $expect: 'one-twelfth';
    // Assert the expected results
    @include assert-equal($test, $expect);
  }

  @include it('Converts 6/12 into its lowest fraction name') {
    $test: fraction-names(6, 12);
    $expect: 'one-half';
    // Assert the expected results
    @include assert-equal($test, $expect);
  }

  @include it('Converts 3/12 into its lowest fraction name') {
    $test: fraction-names(3, 12);
    $expect: 'one-quarter';
    // Assert the expected results
    @include assert-equal($test, $expect);
  }

  @include it('Converts 2/6 into its lowest fraction name') {
    $test: fraction-names(2, 6);
    $expect: 'one-third';
    // Assert the expected results
    @include assert-equal($test, $expect);
  }

  @include it('Converts 3/8 into its lowest fraction name with underscore') {
    $test: fraction-names(3, 8, '_');
    $expect: 'three_eighths';
    // Assert the expected results
    @include assert-equal($test, $expect);
	}

  @include it('Converts 4/10 into its lowest fraction name') {
    $test: fraction-names(4, 10);
    $expect: 'two-fifths';
    // Assert the expected results
    @include assert-equal($test, $expect);
  }

  @include it('Converts 4/10 into its fraction name') {
    $test: fraction-names(4, 10, $lcd: false);
    $expect: 'four-tenths';
    // Assert the expected results
    @include assert-equal($test, $expect);
  }

}

@include describe('Lowest Fraction [Function]') {
  @include it('Converts 6/12 into lowest common denominator') {
    $test: lowest-fraction(6, 12);
    $expect: '1-2';
    // Assert the expected results
    @include assert-equal($test, $expect);
	}

  @include it('Converts 3/9 into lowest common denominator') {
    $test: lowest-fraction(3, 9);
    $expect: '1-3';
    // Assert the expected results
    @include assert-equal($test, $expect);
	}

  @include it('Converts 2/10 into lowest common denominator') {
    $test: lowest-fraction(2, 10);
    $expect: '1-5';
    // Assert the expected results
    @include assert-equal($test, $expect);
	}
}
